include head.pug
body
    #app
        .container-fluid
            .jumbotron
                h1.text-center="{{title}}"
            .row
                .col-lg
                .col-lg-6
                    .row
                        .col-lg-6(
                            v-for="piso in pisos"
                        )
                            .card
                                h3.card-header="{{piso.direccion}}"
                                .card-body
                                    h5.card-title="{{piso.renta}} "
                                        i.fas.fa-euro-sign
                                    p.card-text="{{piso.descripcion}}"
                                .card-footer
                                    p.text-center="{{piso.tipo}}"

                .col-lg

    include footer.pug