doctype html

html(lang="es")
  include head.pug
  body
      div.container-fluid
        div.jumbotron
          h1.text-center="Login"
        div.row
          div.col-lg
          div.col-lg-6
            div#form
              div.row
                label.col-lg-2(for="email")="Email: "
                div.col-lg-10
                  input#email.form-control(
                    type="email",
                    placeholder="Email"
                    name="email"
                    )
              br
              div.row
                label.col-lg-2(for="pass")="Pass: "
                div.col-lg-10
                  input#pass.form-control(
                    type="password"
                    placeholder="Password"
                    name="pass"
                    )
              br
              div.row
                div.col-lg-12
                  button#enviar.btn.btn-outline-success.w-100="Enviar"
          div.col-lg
      
      include footer.pug
